{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'BloggerBlogBundle:Page:layout.html.twig' %}

{% block name %}{{ blog.name }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <h2>{{ blog.name }}</h2>
        </header>

        <div>
            <p>{{ blog.content }}</p>
        </div>
    </article>
{% endblock %}
