{# src/Blogger/BlogBundle/Resouces/views/Category/show.html.twig #}
{% extends 'BloggerBlogBundle:Page:layout.html.twig' %}

{% block name %}{{ category.name }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <h2>{{ category.name }}</h2>
        </header>

        <div>
            <p>{{ category.description }}</p>
        </div>
    </article>
    <section class="blog">
        <section class="blog">
            <p>Blogs fot this category:</p>
            {% include 'BloggerBlogBundle:Category:showblogs.html.twig' with { 'blogs': blogs } %}
        </section>
    </section>

{% endblock %}
